img{
   width: 150px;
  border-radius: 100px;
    
}
#book{
  border-color: grey;
}
#burrito{
    border-color: grey;
  }
  #earbuds{
    border-color: grey;
  }
  #glue{
    border-color: grey;
  }
  #phone{
    border-color: grey;
  }
